@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular"), url("../assets/fonts/Roboto-Regular.woff2") format("woff2"), url("../assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-Regular"), url("../assets/fonts/Inter-Regular.woff2") format("woff2"), url("../assets/fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-Medium"), url("../assets/fonts/Inter-Medium.woff2") format("woff2"), url("../assets/fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --blue23:          #23ACDE;
  --blue3D:          #3D8AFF;
  --blue25:          #2546FF;
  --blue00:          #0027FF;
  --white:           #FFFFFF;
  --grayF2:          #F2F3FA;
  --grayEA:          #EAEBF6;
  --gray75:          #757575;
  --gray64:          #646464;
  --gray44:          #444343;
  --black:           #000000;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  color: var(--black);
  background-color: var(--grayEA);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

input {
  border: none;
  background-color: transparent;
  outline: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/************************************************** PATHS SECTION **************************************************/
.paths {
  width: 100%;
  background-color: transparent;
}

.paths__container {
  margin: 0 auto;
  max-width: 1296px;
}

.paths__title {
  margin: 0 0 12px 7px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: var(--gray75)
}

.paths__breadcrumbs {
  display: flex;
  align-items: center;
  margin: 0 0 16px 0;
}

.paths__breadcrumbs__link {
  display: inline-block;
  margin: 0 6px 0 0;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: var(--black);
}

.paths__breadcrumbs__link:last-child {
  display: inline-block;
  margin: 0 6px 0 0;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: var(--black);
  opacity: 0.4;
}

.paths__breadcrumbs__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 12px 0 0;
}

.paths__breadcrumbs__devision {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 12px 0 0;
  width: 1px;
  height: 16px;
  background-color: var(--black);
  opacity: 0.1;
}

/************************************************** BAR SECTION **************************************************/
.bar {
  width: 100%;
  background-color: transparent;
}

.bar__container {
  display: flex;
  align-items: center;
  padding: 15px 24px;
  margin: 0 auto;
  border-radius: 16px;
  max-width: 1296px;
  background-color: var(--white);
}

.bar__range {
  display: flex;
  flex-direction: column;
  margin: 0 65px 0 0;
}

.bar__range__desc {
  display: inline-block;
  margin: 0 0 5px 0;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--gray75);
}

.bar__range__input {
  width: 200px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--black);
}

.bar__interval {
  display: flex;
  flex-direction: column;
  margin: 0 83px 0 0;
}

.bar__interval__desc {
  display: inline-block;
  margin: 0 0 5px 0;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--gray75);
}

.bar__interval__dropdown {
  position: relative;
  left: -5px;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--black);
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.bar__search {
  display: flex;
  align-items: center;
}

.bar__search__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 6px 0 0;
}

.bar__search__desc {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--black);
}

.bar__deposited {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.bar__deposited__desc {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: var(--blue23);
}

.bar__charts {
  display: flex;
  align-items: center;
}

.bar__charts__types {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4px 0 0;
  width: 96px;
}

.bar__charts__type {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  width: 32px;
  height: 32px;
  background-color: var(--grayF2);
  transition: all .3s ease;
}

.bar__charts__type:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.bar__charts__type:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bar__charts__type:hover {
  background-color: var(--blue23);
}

.bar__charts__type:hover svg path,
.bar__charts__type:hover svg rect {
  stroke: var(--white);
}

.bar__charts__type:focus {
  background-color: var(--blue25);
}

.bar__charts__reset {
  padding: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--gray75);
  background-color: transparent;
  transition: all .3s ease;
}

.bar__charts__reset:hover {
  color: var(--blue00);
}

/************************************************** GRAPHICS SECTION **************************************************/
.graphics {
  width: 100%;
  background-color: transparent;
}

.graphics__container {
  margin: 0 auto;
  max-width: 1296px;
}
